# http://editorconfig.org
root = true

[*]
indent_style = tab
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Use 4 spaces for the Python files
[*.{yml,yaml}]
indent_size = 2
indent_style = space

[*.{md,mdx}]
trim_trailing_whitespace = false
