{
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 120,
  "semi": true,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "printWidth": 80
      }
    }
  ]
}
